<section class="process">
    <div class="process__content">
        <div class="heading">The Process to your <span class="highlight"> Dream Online Store </span></div>
        <div class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque magna sem, molestie nec aliquam id, auctor quis augue.</div>
        <div class="cards">
            <div class="card">
                <h3>1. Briefing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque magna sem, molestie nec aliquam id, auctor quis augue.</p>
            </div>
            <div class="card">
                <h3>2. Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque magna sem, molestie nec aliquam id, auctor quis augue.</p>
            </div>
            <div class="card">
                <h3>3. Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque magna sem, molestie nec aliquam id, auctor quis augue.</p>
            </div>
            <div class="card">
                <h3>4. Final Product</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque magna sem, molestie nec aliquam id, auctor quis augue.</p>
            </div>
        </div>
    </div>
</section>
