<section class="banner">
    <div class="banner__content">
        <div class="copy">
            <div class="heading">Custom Designed <span class="highlight"> E-commerce Solutions </span>for Entreprenuers.</div>
            <p>Thought to MVP design studio <span class="highlight"> designs </span> and <span class="highlight"> develops </span> custom, <span class="highlight"> brand powerful </span> online solutions for entreprenuers that are brand focused.
                Whether you are building a new product or revamping an existing one.</p>
                <button>View Pricing</button>
        </div>
        <div class="image">
           <img src="assets/images/webdesignpic.png">
        </div>
        </div>
</section>
