<section class="footer">
    <hr class="line">
    <div class="footer__content">
       <div class="heading"> Contact Us</div>
        <div class="contact-details">
            <p> Say Hello hello@thoughttomvp.tech </p>
            <p> Whatsapp: <i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
        </div>
        <div class="social-media">
            follow us: 
            <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-dribbble"></a>
        </div>
        <div class="copyright">
            &copy;Thought to MVP studio 2024
        </div>
    </div>
</section>
