<section class="team">
    <div class="team__content">
        <div class="image">
            <img src="/assets/images/team.png">
        </div>
        <div class="copy">
            <div class="heading">Thought to MVP <span class="highlight"> Team </span></div>
            <p>Our team comprises of independent tech contractors, encompassing of UI/UX experts, developers, web designers, digital designers, and seasoned quality assurance professionals.
               We operate as a fully remote team, with the predominant portion of our members situated in Johannesburg, South Africa.</p>
        </div>
    </div>
</section>
