<section class="pricing" id="#pricing">
    <div class="heading">Pricing</div>
    <div class="subheading"><b>Online Store Standard Features:</b> Custom Design, Interactive, Manage Stock and Orders, Shop Management Training, Mobile & Tablet Friendly,
        Payment Gateway Integration, Search Engine Friendly, Support Integration: Whatsapp Chat.
        <p>Online Store Management Training Included.</p>
    </div>
    <div class="pricing-cards">
        <div class="price-card">
            <header>Online Store Integration</header>
            <div class="price">R7,100</div>
            <p>Up to 10 preloaded products (add more yourself)</p>
            <p>Add Shop Page to existing page</p>
            <p><b>Plus:</b> Standard Features</p>
        </div>
        <div class="price-card">
            <header>Starter Online Store</header>
            <div class="price">R9,700</div>
            <p>Up to 10 preloaded products (add more yourself)</p>
            <p><b>Plus:</b> Standard Features</p>
        </div>
        <div class="price-card">
            <header>Growing Biz Online Store</header>
            <div class="price">R14,800</div>
            <p>Up to 35 preloaded products (add more yourself)</p>
            <p>E-newsletter Design and setup</p>
            <p>Google Analytics Setup & Integration</p>
            <p><b>Plus:</b> Standard Features</p>
        </div>
        <div class="price-card">
            <header>Med to Large Online Store</header>
            <div class="price">R20,800</div>
            <p>Up to 70 preloaded products (add more yourself)</p>
            <p>E-newsletter Design and setup</p>
            <p>Google Analytics Setup & Integration</p>
            <p>Blog Function</p>
            <p><b>Plus: </b>Standard Features</p>
        </div>
    </div>
    <div class="other-services">
        <div class="service">
            <header>Web Design</header>
            Build your own package: <br>
            Design and Layout - <span class="highlightback"> R3,500 (base cost), </span><br> Static web page - <span class="highlightback"> R950 per page, </span> <br> Dynamic Page - <span class="highlightback"> R1,500 per page.</span>
           <div class="example"> <b>Package Example:</b> 3 page website = <span class="highlightback"> R 6 350 </span> (base cost + 3 static web pages)</div>
        </div>
        <div class="service">
            <header>Consultation</header>
            <p>Thought to MVP has an hourly labour rate for work that falls outside of any ecommerce or web design packages displayed above.</p>
            <div class="rate"><span class="highlightback">R500 per hour</span></div>
            <div class="rate"><span class="highlightback">R650 per hour </span> Urgent/ After hours rates (after 6pm or public holidays)</div>
        </div>
    </div>
</section>
