<section class="banner">
    <div class="banner__content">
        <div class="copy">
            <div class="heading">Custom Designed <span class="highlight"> E-commerce & Web Solutions </span>for Digital Entreprenuers.</div>
            <div class ="paragraph"><p>Thought to MVP design studio <span class="highlight"> designs </span> and <span class="highlight"> develops </span> custom, <span class="highlight"> brand powerful </span> online solutions for entreprenuers that are brand focused.
                Whether you are building a new product or revamping an existing one. 
            </p>
        </div>
        <div class="banner-button">
            <button>View Pricing</button>
        </div>
        </div>
        </div>
</section>